@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Hind+Madurai|Roboto');

body {
    background-color: #f0f4fb;
}

.entry {
    margin-top: 20px;
    text-align: center;
}

#username {
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

#password {
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
}

#form {
    margin-top: 20;
    background: #F7F7F7;
    font-size: 15px;
    color: #29657a;
    height: 20px;
    width: 200px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    border: 5px solid #D9F0FF;
    resize: none;
}

/* Remove margins and padding from the list, and add a black background color */
.navbar {
    list-style-type: none;
    font-family: 'Hind Madurai';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
.navbar li {float: left;}

/* Style the links inside the list items */
.navbar li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    color: #83C9F4
}

/* Change background color of links on hover */
.navbar li a:hover {
  background-color: #83C9F4;
  color: white;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
.navbar li.icon {
  display: none;
}

#title {
    padding-top: 15px;
    text-align: center;
    font-family: 'Hind Madurai';
    font-size:  4em;
    font-weight:  bold;
    color: #000000;
    margin-bottom: 15px;
}

#message {
    margin-top: 10px;
    text-align: center;
    font-family: 'Hind Madurai';
    font-size:  15px;
    font-weight:  bold;
    color: #A3D5FF;
}

#mind {
    text-align: center;
    font-family: 'Hind Madurai';
    font-size:  20px;
    font-weight:  bold;
    color: #000000;
}

.textbox {
    text-align: center;
    margin-top: 30px;
}

#box {
    background: #F7F7F7;
    font-size: 20px;
    color: #29657a;
    height: 300px;
    width: 700px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    border: 5px solid #F7F7F7;
    resize: none;
}

.submit {
    text-align: center;
    padding-top: 30px;
}

.btn {
  font-family: 'Hind Madurai';
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 22px;
  text-decoration: none;
  margin: 0 auto;
  color: #F7F7F7;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #A3D5FF;
  /** box-shadow: 0px 5px 0px 0px #29657a; */
}

.blue:hover {
  background-color: #83C9F4;
  /** box-shadow: 0px 5px 0px 0px #3f454b; */
}

form {

}
