<html>
<head>
	<link rel="stylesheet" type="text/css" href={{ STATIC_URL }}>
	<title>Stress Manager</title>
</head>
<body>
	<div>
		<ul class="navbar" id="outputbar">
		  <li><a href="index.html">Home</a></li>
		  <li><a href="output.html">Output</a></li>
		  <li><a href="login.html">Log Out</a></li>
		</ul>
	</div>
	<div id="title">
		Stress Manager
	</div>
	<div id="mind">
		Welcome to your personal stress analyzer.
	</div>
	<div id="message">
		Being a student means taking care of your mental health.
	</div>
	<div id="username">
    	<textarea id="form" placeholder="Username"></textarea>
	</div>
  <div id="password">
		<textarea id="form" placeholder="Password"></textarea>
	</div>
	<div class="submit">
		<a href="index.html" class="btn blue">Log In</a>
	</div>
</body>
</html>
