<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Stress Manager</title>
</head>
<body>
	<div id="title">
		Stress Manager
	</div>
	<div id="mind">
		Welcome to your personal stress analyzer.
	</div>
	<div id="message">
		Being a student means taking care of your mental health.
	</div>
	<div id="username">
    	<textarea id="form" placeholder="Username"></textarea>
	</div>
  <div id="password">
		<textarea id="form" placeholder="Password"></textarea>
	</div>
	<div class="submit">
		<a href="index.html" class="btn blue">Log In</a>
	</div>
</body>
</html>